<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    versionCode="10"
    version   = "0.0.1"
    >

    <!-- versionCode is optional and Android only -->

    <name>Phone gap test</name>

    <description>
        Mash all off them words.
    </description>

    <author href="http://parallaxinteractive.co.nz" email="support@parallaxinteractive.co.nz">
        Dominik Schmid
    </author>

</widget>